@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensans/opensansbold.woff2") format("woff2"), url("../fonts/opensans/opensansbold.woff") format("woff"), url("../fonts/opensans/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../fonts/raleway/ralewayregular.woff2") format("woff2"), url("../fonts/raleway/ralewayregular.woff") format("woff"), url("../fonts/raleway/ralewayregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway/ralewaybold.woff2") format("woff2"), url("../fonts/raleway/ralewaybold.woff") format("woff"), url("../fonts/raleway/ralewaybold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/raleway/ralewaysemibold.woff2") format("woff2"), url("../fonts/raleway/ralewaysemibold.woff") format("woff"), url("../fonts/raleway/ralewaysemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
/* START BASIC STYLES */
html {
  height: 100%; }

body {
  line-height: 1.6;
  hyphens: auto; }

* {
  -webkit-box-: border-box;
  -moz-box-: border-box;
  box-sizing: border-box; }

/* END BASIC STYLES */
html {
  font: 10px "Open Sans", "Raleway", sans-serif;
  color: #ccc; }

.wrap-header {
  width: 100%;
  min-height: 74rem;
  background-color: #30324c;
  background-image: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.x {
  outline: 1px solid #ccc; }

header {
  margin: 0 auto; }

nav {
  position: relative;
  padding-top: 3.8rem;
  padding-bottom: 6.6rem;
  border-bottom: 1px solid #505168; }

.logo {
  width: 200px;
  float: left; }

.nav-links {
  float: right; }
  .nav-links li {
    float: left;
    margin-left: 5.4rem; }
  .nav-links a {
    font: bold 13px "Raleway", "Open Sans", sans-serif;
    color: #cbccd3;
    transition: color 0.4s;
    text-decoration: none; }
    .nav-links a:hover {
      color: #fff; }

.main-slogan {
  margin: 0 auto;
  padding-top: 14rem;
  max-width: 95rem;
  color: #fff; }
  .main-slogan h1 {
    font-size: 5vw; }
  .main-slogan p, .main-slogan a {
    font-family: "Raleway", "Open Sans", sans-serif; }
  .main-slogan p {
    font-size: 2.2rem;
    margin-top: 4rem;
    margin-bottom: 7rem; }
  .main-slogan a {
    color: #fff;
    text-decoration: none; }
  .main-slogan .main-button {
    width: 20rem;
    height: 4.5rem;
    margin-bottom: 5rem;
    background-color: #e84545;
    border: 1px solid #e84545;
    transition: background-color 0.4s; }
    .main-slogan .main-button:hover {
      background-color: #d04040; }

.main-content-modul {
  color: #333;
  padding: 2%; }

.wrap-features {
  background-color: #fff;
  min-height: 69rem;
  padding-top: 6rem; }

.feature-box {
  font-family: "Raleway", "Open Sans", sans-serif; }
  .feature-box h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  .feature-box p {
    margin-top: 2rem;
    font-size: 14px;
    color: #787e84; }

.features-icons {
  font-size: 100px;
  color: #e84545; }

.portfolio-item {
  margin: 0 auto !important;
  padding: 0 !important; }
  .portfolio-item a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; }
  .portfolio-item img {
    width: 100%;
    height: auto; }

.portfolio-hover {
  opacity: 0;
  text-align: center;
  height: 100%;
  padding-top: 30%;
  left: 0;
  right: 0;
  position: absolute;
  transition: all 0.4s; }
  .portfolio-hover:hover {
    opacity: 1;
    color: #fff;
    background-color: rgba(213, 65, 65, 0.6); }

.wrap-footer {
  font-size: 14px;
  background-color: #3a3e64; }

.contacts-info {
  padding: 4rem 0;
  font-family: "Raleway", "Open Sans", sans-serif;
  color: #fff; }
  .contacts-info h4 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold; }
  .contacts-info p {
    color: #adaebb; }

.social-icons-footer {
  font-size: 2rem;
  margin-left: 7px;
  color: #fff;
  transition: color 0.4s; }
  .social-icons-footer:hover {
    color: #e84545; }

.copy-right {
  color: #808080;
  background-color: #313454;
  margin-bottom: -11px;
  min-height: 8.8rem;
  padding-top: 2.2rem; }
  .copy-right span {
    color: #fff; }

.footer-heart {
  color: #e84545;
  margin: 0 3px; }

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  html {
    font-size: 8px; }

  nav {
    border-bottom: none; }

  .nav-links {
    position: absolute;
    right: 20px;
    top: -32px; }
    .nav-links li {
      float: none;
      text-align: center; }
    .nav-links a {
      border-bottom: 1px dotted #ccc;
      background-color: rgba(232, 69, 69, 0.2);
      padding: 5px;
      display: block; }
      .nav-links a:hover {
        background-color: rgba(255, 255, 255, 0.1); }

  #last-nav-a {
    border-bottom: none; }

  .main-slogan {
    padding-top: 8rem; }
    .main-slogan h1 {
      font-size: 7vw;
      line-height: 1.2; }
    .main-slogan p {
      font-size: 1.6rem; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 9px; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
