/* START BASIC STYLES */
html 
    height: 100% 
 
body  
    line-height: 1.6 
    hyphens: auto 
*  
    -webkit-box-: border-box 
    -moz-box-: border-box 
    box-sizing: border-box 
/* END BASIC STYLES */