@import '_var.sass'
@import '_fonts.sass'
@import '_basic-styles.sass'
@import '_mixins.sass'

html 
	font: 10px $main-font-family
	color: #ccc

.wrap-header
	width: 100%
	min-height: 74rem
	background-color: #30324c
	background-image: url('../images/main_bg.jpg')
	background-repeat: no-repeat
	background-size: cover 
.x 
	outline: 1px solid #ccc
header 
	margin: 0 auto
nav
	position: relative
	padding-top: 3.8rem
	padding-bottom: 6.6rem
	border-bottom: 1px solid #505168
.logo 
	width: 200px
	float: left
.nav-links
	float: right
	li 
		float: left
		margin-left: 5.4rem
	a 
		font: bold 13px $second-font-family
		color: #cbccd3
		transition: color .4s
		text-decoration: none
		&:hover
			color: #fff

.main-slogan
	margin: 0 auto
	padding-top: 14rem
	// padding: 14rem 12rem
	max-width: 95rem
	color: #fff
	h1
		// font-size: 6.5rem
		font-size: 5vw
	p,a 
		font-family: $second-font-family
	p 
		font-size: 2.2rem
		margin-top: 4rem
		margin-bottom: 7rem
	a 
		color: #fff
		text-decoration: none
	.main-button
		width: 20rem
		height: 4.5rem
		margin-bottom: 5rem
		background-color: #e84545
		border: 1px solid #e84545
		transition: background-color .4s
		&:hover
			background-color: #d04040
.main-content-modul
	color: #333
	padding: 2%
.wrap-features 
	background-color: #fff
	min-height: 69rem
	padding-top: 6rem
.feature-box
	font-family: $second-font-family
	h3
		font-size: 14px
		font-weight: bold
		text-transform: uppercase
	p 
		margin-top: 2rem
		font-size: 14px
		color: #787e84
.features-icons
	font-size: 100px
	color: #e84545
.portfolio-item
	margin: 0 auto !important
	padding: 0 !important
	a
		position: relative
		display: block
		width: 100%
		height: 100%
	img 
		width: 100%
		// max-width: 100px
		height: auto
.portfolio-hover
	opacity: 0
	text-align: center
	height: 100%
	padding-top: 30%
	left: 0
	right: 0
	position: absolute
	transition: all .4s
	&:hover
		opacity: 1
		color: #fff
		background-color: rgba(213,65,65,.6)
.wrap-footer
	font-size: 14px
	background-color: #3a3e64
.contacts-info
	padding: 4rem 0
	font-family: $second-font-family
	color: #fff
	h4
		text-transform: uppercase
		font-size: 13px
		font-weight: bold

	p 
		color: #adaebb
.social-icons-footer 
	font-size: 2rem
	margin-left: 7px
	color: #fff
	transition: color .4s
	&:hover
		color: #e84545

.copy-right
	color: #808080
	background-color: #313454
	margin-bottom: -11px
	min-height: 8.8rem
	padding-top: 2.2rem
	span
		color: #fff
.footer-heart
	color: #e84545
	margin: 0 3px

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px)
	html
		font-size: 8px
	nav
		border-bottom: none
	.nav-links
		position: absolute
		right: 20px
		top: -32px
		li
			float: none
			text-align: center
		a 
			border-bottom: 1px dotted #ccc
			background-color: rgba(232,69,69,.2)
			padding: 5px
			display: block
			&:hover
				background-color: rgba(255,255,255,.1)
	#last-nav-a
		border-bottom: none
	.main-slogan
		padding-top: 8rem
		h1
			font-size: 7vw
			line-height: 1.2
		p 
			font-size: 1.6rem
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
	html
		font-size: 9px
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
	html
		font-size: 10px